@import './src/styles/variables';

.Note {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 420px;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  &__top {
    margin-bottom: 1rem;
  }

  &__header {
    & .title {
      margin-bottom: 0.5rem;
      word-wrap: break-word;
    }
  }
}

.Note__expand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  height: 30px;
  line-height: 40px;

  & button {
    background-color: $colorBlue;
    height: 100%;
    width: 4.25rem;
    border-radius: 0.5rem;
  }

  & .chip {
    width: 5rem;
    line-height: 30px;
    background-color: $colorGreen;
    border-radius: 15px;
    border: 1px solid black;
    color: #fff;
  }
}

.Note__content {
  padding-top: 15px;
  margin-bottom: 15px;

  & .description {
    margin-bottom: 15px;
  }

  & .buttons {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;

    & button {
      background-color: $colorBlue;
      width: 6rem;
      border-radius: 0.5rem;
      padding: 0.5rem 0;
      line-height: 100%;

      & a {
        display: block;
        width: 100%;
        color: #fff;
        line-height: 100%;

        &:visited {
          color: #fff;
        }
      }
    }
    .delete {
      background-color: $colorRed;
    }
  }
}

//note: {
//  position: 'relative',
//  boxShadow: theme.shadows[4],
//  width: '100%',
//  maxWidth: '450px',
//  borderRadius: theme.shape.borderRadius,
//  marginBottom: theme.spacing(2),
//  textAlign: 'center',
//  [theme.breakpoints.up('sm')]: {
//  width: '450px',
//},
//},
//top: {
//  display: 'flex',
//  alignItems: 'center',
//  justifyContent: 'space-between',
//},
//category: {
//  marginLeft: theme.spacing(1),
//},
//header: {
//  display: 'block',
//  wordWrap: 'break-word',
//},
//description: {
//  textAlign: 'start',
//  textIndent: '1rem',
//},
//expand: {
//  transform: 'rotate(0deg)',
//  marginLeft: 'auto',
//  transition: theme.transitions.create('transform', {
//  duration: theme.transitions.duration.short,
//  }),
//},
//expandOpen: {
//  transform: 'rotate(180deg)',
//},
//actions: {
//  justifyContent: 'space-evenly',
//},
