@import './src/styles/variables';

// 600px, 1024px
$breakpoints-up: (
  'tablet': '600px',
  'desktop': '1024px',
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin bgBlue {
  background-color: $colorBlue;
}

@mixin bgRed {
  background-color: $colorRed;
}

@mixin boxShadow {
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
    0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
