//colors
$colorRed: #f50057;
$colorBlue: #3f51b5;
$colorGreen: #388e3c;

//font-sizes
$font-xsm: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-md: 1rem; // 16px
$font-lg: 1.125rem; // 18px
$font-xlg: 1.25rem; // 20px
