@import './src/styles/variables';

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  padding-top: 1.5rem;
  height: 100vh;
  overflow: scroll;

  &__button {
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: $colorBlue;
    height: 50px;
    line-height: 50px;

    & a {
      display: block;
      width: 100%;
      color: #fff;

      &:visited {
        color: #fff;
      }
    }
  }
}
