@import './src/styles/mixins';
@import './src/styles/variables';

.Header {
  position: sticky;
  z-index: 100;
  top: 0;
  margin: 0 auto;
  background-color: $colorBlue;
  width: 100%;
  height: 50px;

  @include breakpoint-up(tablet) {
    height: 60px;
  }

  @include breakpoint-up(medium) {
    height: 80px;
    max-width: 960px;
  }

  &__toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;

    & a {
      display: block;
      color: #fff;
    }

    & button {
      max-width: 8rem;
      padding: 0.5rem;
      background-color: $colorBlue;
    }
  }
}
