@import '../../styles/variables';

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  max-width: 540px;
  margin: auto;
  padding-top: 60px;

  &__title {
    margin-bottom: 1rem;
    font-weight: bold;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;

    & .error {
      font-size: $font-xsm;
      width: 100%;
      max-width: 450px;
      color: $colorRed;
    }

    //& button{
    //  width: 100%;
    //  background-color: $colorBlue;
    //  border-radius: 0.5rem;
    //  padding: 0.75rem;
    //}
  }
  //&__button {
  //  width: 100%;
  //  max-width: 450px;
  //  background-color: $colorBlue;
  //  border-radius: 0.5rem;
  //  padding: 0.75rem;
  //}
}
