@import './src/styles/mixins';

.App {
  margin: 0 auto;
  padding: 0 15px;
  height: 100vh;

  @include breakpoint-up(tablet) {
    max-width: 960px;
    padding: 0 20px;
    @include boxShadow;
  }
}
